<p>
  <b><%=h "Image File"[:image_image] %></b><br/>

  <% if image && image.image_file_name %>
    <%= image_tag(image.image.url(:thumb)) %><br/>
    <%= h(image.image_file_name) %><br/>
  <% end %>

  <%= f.file_field :image %>      
</p>
